<div class="outer-container">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <div><a href="https://google.com">Go to gogle homepage</a></div>
    <div><a href="google.com">Go to youtubes homepage</a></div>
  </div>
  <div fxLayout="column">
    <div fxLayout="row">
      <div fxFlex="10">
        <h3>Brand</h3>
      </div>
      <div fxFlex="70">
        <mat-form-field>
          <mat-label>Input</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div fxFlex="10">
        <h3>Brand</h3>
      </div>
    </div>

    <div fxLayout="row"></div>
  </div>
</div>
